.auth-form {
  ion-item {
    margin-bottom: 12px;
    --background: transparent;
    --border-radius: 8px;
  }

  ion-input {
    font-size: 15px;
    padding: 10px;
    border-radius: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
    --highlight-color-focused: var(--ion-color-primary);
    --color: var(--ion-color-dark);
  }
}

:host {
  height: 100%;
}
