:host {
  ion-tab-bar {
    border: none;
    ion-tab-button {
      font-size: 14px;
      border-radius: 4px;
      &.active {
        color: var(--ion-color-tertiary);
        background-color: var(--ion-color-secondary);
      }
    }
  }

  ion-footer {
    box-shadow: none;
    display: flex;
    justify-content: center;
    width: calc(100vw - 160px);
    margin: 0 auto 8px auto;
  }

  .footer-container {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    background: linear-gradient(
      90deg,
      rgba(240, 240, 240, 0.417) 0%,
      rgba(245, 243, 244, 0.526) 80%,
      rgba(244, 245, 243, 0.55) 100%
    );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;

    transition: all 0.3s ease-in-out;

    .item {
      border-radius: 6px;
      padding: 6px 14px;
      transition: background-color 0.25s ease;
    }
  }

  ::ng-deep .footer-container {
    .item {
      cursor: pointer;
      // &.active {
      //   svg path {
      //     stroke: var(--ion-color-warning);
      //   }
      // }
    }
  }
}
