<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" class="active">
    <!-- <ion-icon name="play-circle" aria-hidden="true"></ion-icon> -->
    Home
    <ion-ripple-effect></ion-ripple-effect>
  </ion-tab-button>
  <ion-tab-button tab="radio">
    <!-- <ion-icon name="radio" aria-hidden="true"></ion-icon> -->
    Precious
    <ion-ripple-effect></ion-ripple-effect>
  </ion-tab-button>
  <ion-tab-button tab="library">
    <!-- <ion-icon name="library" aria-hidden="true"></ion-icon> -->
    Funny
    <ion-ripple-effect></ion-ripple-effect>
  </ion-tab-button>
  <ion-tab-button tab="search">
    <!-- <ion-icon name="search" aria-hidden="true"></ion-icon> -->
    Account
    <ion-ripple-effect></ion-ripple-effect>
  </ion-tab-button>
</ion-tab-bar>
